<link rel="stylesheet" href="/static/css/index.css"/>
<!--轮播-->
<div data-am-widget="slider" class="lunbo am-slider am-slider-c3" data-am-slider='{&quot;controlNav&quot;:false}' >
  <ul class="am-slides">
      <li>
            <img src="/static/img/tupian.jpg">
            <div class="am-slider-desc"><div class="am-slider-counter"><span class="am-active">1</span>/4</div>努力建设中</div>
      </li>
      <li>
            <img src="/static/img/tupian.jpg">
            <div class="am-slider-desc"><div class="am-slider-counter"><span class="am-active">2</span>/4</div>如果一件事情你不能拒绝，就学会去享受它！</div>
      </li>
      <li>
            <img src="/static/img/tupian.jpg">
            <div class="am-slider-desc"><div class="am-slider-counter"><span class="am-active">3</span>/4</div>心胸宽广的人，像大海一样笑纳百川，像高山一样巍然屹立，人生自在而逍遥！</div>
      </li>
      <li>
            <img src="/static/img/tupian.jpg">
            <div class="am-slider-desc"><div class="am-slider-counter"><span class="am-active">4</span>/4</div>来是偶然，去是必然，尽其当然，顺其自然。</div>
      </li>
  </ul>
</div>
<!--第二大块：分类-->
<div class="index_row_1 am-g ">
    <div class="am-u-lg-8 am-u-md-8 am-u-sm-12">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
            <h2 class="am-titlebar-title ">板块选择</h2>
<!--            <nav class="am-titlebar-nav">
                <a href="#more" class="">more &raquo;</a>
            </nav>-->
        </div>
        <ul class="am-cf" id="titlebar_1">
            <li class="am-fl am-u-lg-3 am-u-md-3 am-u-sm-3 am-margin-vertical">
                <img class="am-circle" style="width:100%" src="/static/img/cxy.jpg" />
                <p class="am-text-center">程序员</p>
            </li>
            <li class="am-fl am-u-lg-3 am-u-md-3 am-u-sm-3 am-margin-vertical">
                 <img class="am-circle" style="width:100%" src="/static/img/cxy.jpg" />
                <p class="am-text-center">程序员2</p>
            </li>
            <li class="am-fl am-u-lg-3 am-u-md-3 am-u-sm-3 am-margin-vertical">
                 <img class="am-circle" style="width:100%" src="/static/img/cxy.jpg" />
                 <p class="am-text-center">程序员3</p>
            </li>
            <li class="am-fl am-u-lg-3 am-u-md-3 am-u-sm-3 am-u-end am-margin-vertical">
                <a href="{:url('member/Index/index')}">
                    <img class="am-circle" style="width:100%" src="/static/img/cxy.jpg" />
                    <p class="am-text-center">聊天室</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="am-u-lg-4 am-u-md-4 unseen">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
            <h2 class="am-titlebar-title ">当月人气</h2>
            <nav class="am-titlebar-nav">
                <a href="#more" class="">more &raquo;</a>
            </nav>
        </div>
        <ol>
            <li class="">第一</li>
            <li>第二</li>
            <li>第三</li>
        </ol>
    </div>
</div>

<!--多图轮播-->
<div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
    <h2 class="am-titlebar-title ">优秀文章</h2>
</div>
<div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;animationLoop&quot;:false,&quot;itemWidth&quot;:200,&quot;itemMargin&quot;:2}' >
    <ul class="am-slides">
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
        </li>
    </ul>
</div>

<!--友情链接-->
<div class="am-margin-sm link">
    <p class="am-margin-sm">友情链接：</p>
    <ul class="am-cf am-margin-horizontal-xs">
        <li class="am-fl am-margin-horizontal-xs">
            <a href="#">No message</a>
        </li>
    </ul>
</div>


<script>

</script>