<!DOCTYPE html>
<html>
    <head>
        <title>IT菜鸟聊天室</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/header_footer.css"/>
        <link rel="stylesheet" href="/static/css/common.css"/>
        
        <link rel="alternate icon" type="image/png" href="/static/assets/i/itrookie.ico">
        <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
        <link rel="stylesheet" href="/static/assets/css/app.css" />
        <style>
            body{margin: 5px 10px;}
            .wrap{padding:0px 5px;}
            .wrap p{margin:0px;}
        </style>
        
        <script src="/static/assets/js/jquery.min.js"></script>
        <script>
            if(navigator.userAgent.match("Mobile") == "Mobile"){
               $('title').after("<style>.wrap p{font-size:40px;word-wrap:break-word; word-break:normal;}</style>");
            };
        </script>
        <script type="text/javascript">
            var wsServer = 'ws://39.108.58.215:2347';
            var websocket = new WebSocket(wsServer);
            var userid = "<?php echo mt_rand(1000,9999)?>";
            //时间
            var t = null;
            t = setTimeout(time,1000);
	    function time(){
		clearTimeout(t);//清除定时器
	        var date = new Date();
                var now_time = date.getHours() +":" + date.getMinutes() +":" + date.getSeconds() ;
		t = setTimeout(time,1000); //设定定时器，循环运行 
		return now_time;
	    }
            
            websocket.onopen = function (evt) {
//                console.log("Connected to WebSocket server.");
                websocket.send("欢迎PHP大侠  "+userid+"  进入聊天室");
            };

//            websocket.onclose = function (evt) {
//                console.log("Disconnected");
//            };

            websocket.onmessage = function (evt) {
                console.log('Retrieved data from server: ' + evt.data);
                $('.wrap').append("<p class='font-p'>("+time()+")"+evt.data+"</p>");
                $('.wrap').scrollTop($('.wrap p:last').position().top - $('.wrap p:first').position().top );
            };

//            websocket.onerror = function (evt, e) {
//                console.log('Error occured: ' + evt.data);
//            };
        </script>
    </head>
    <body id="chat-room">
        <div class="content am-g" style="margin-bottom: 10px;">
            <div class="wrap am-g" style="min-width: 320px;max-height:500px;height:500px;border: 1px solid red;overflow-y: auto;margin: 0px;">
                <p class="begin">以下是聊天内容:(开发测试中)</p>
            </div>
        </div>
        <input  type="text" id="content" maxlength="128" autocomplete="off" style="width:50%" placeholder="为了维护聊天室的和平，请大侠好好说话！" />
        <button class="am-btn am-btn-success" >发送</button>
        <!--<button  onclick="websocket.send(document.getElementById('content').value)">发送</button>-->
    </body>
<script type="text/javascript">
    $(function(){
        $(document).keyup(function(e){
            if(e.keyCode == 13){
                $('button').click();
            }
        });
        
        $('button').click(function(){
            var content = $('#content').val();
            
            content = $.trim(content);
            if(content.length == 0){
                alert('大侠，请勿发动无声大发！');
                return false;
            }
            if(content.length <= 3){
                alert('大侠真是惜字如金啊，请多说几个吧！');
                return false;
            }
            
            content = htmlspecialchars(content);
            //防止脚本
            function htmlspecialchars(str){
                str = str.replace(/&/g, '&amp;');  
                str = str.replace(/</g, '&lt;');  
                str = str.replace(/>/g, '&gt;');  
                str = str.replace(/"/g, '&quot;');  
                str = str.replace(/'/g, '&#039;');  
                return str;
            }
            websocket.send("PHP大侠"+ userid +": "+content);
            //清空input内容
            $('#content').val('');
        });
    });
    
</script>
</html>
<!--缺少字数限制-->