<!DOCTYPE html>
<html>
    <head>
        <title>IT菜鸟聊天室</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/header_footer.css"/>
        <link rel="stylesheet" href="/static/css/common.css"/>
        
        <link rel="alternate icon" type="image/png" href="/static/assets/i/itrookie.ico">
        <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
        <link rel="stylesheet" href="/static/assets/css/app.css" />
        <style>
            body{margin: 5px 10px;}
            .wrap{padding:0px 5px;}
            .wrap p{margin:0px;}
        </style>
        
        <script src="/static/assets/js/jquery.min.js"></script>
        <script>
            if(navigator.userAgent.match("Mobile") == "Mobile"){
               $('title').after("<style>.wrap p{font-size:40px;word-wrap:break-word; word-break:normal;}</style>");
            };
        </script>
        <script type="text/javascript">
            var wsServer = 'ws://39.108.58.215:2347';
            var websocket = new WebSocket(wsServer);
            var userid = "<?php echo mt_rand(1000,9999)?>";
            
            var date = new Date();
            var now_time = date.getHours() +":" + date.getMinutes() +":" + date.getSeconds() ;
            
            websocket.onopen = function (evt) {
//                console.log("Connected to WebSocket server.");
                websocket.send("欢迎PHP大侠  "+userid+"  进入聊天室");
            };

//            websocket.onclose = function (evt) {
//                console.log("Disconnected");
//            };

            websocket.onmessage = function (evt) {
                console.log('Retrieved data from server: ' + evt.data);
                $('.wrap').append("<p class='font-p'>("+now_time+")"+evt.data+"</p>");
                $('.wrap').scrollTop($('.wrap p:last').position().top);
            };

//            websocket.onerror = function (evt, e) {
//                console.log('Error occured: ' + evt.data);
//            };
        </script>
    </head>
    <body>
        <div class="content am-g" style="margin-bottom: 10px;">
            <div class="wrap am-g" style="min-width: 320px;max-height:500px;height:500px;border: 1px solid red;overflow-y: auto;margin: 0px;">
                <p class="begin">以下是聊天内容:(开发测试中)</p>
            </div>
        </div>
        <input  type="text" id="content" style="width:50%">
        <button class="am-btn am-btn-success">发送</button>
        <!--<button  onclick="websocket.send(document.getElementById('content').value)">发送</button>-->
    </body>
<script type="text/javascript">
    $(function(){
        $('button').click(function(){
            var content = htmlspecialchars($('#content').val());
            //防止脚本
            function htmlspecialchars(str){
                str = str.replace(/&/g, '&amp;');  
                str = str.replace(/</g, '&lt;');  
                str = str.replace(/>/g, '&gt;');  
                str = str.replace(/"/g, '&quot;');  
                str = str.replace(/'/g, '&#039;');  
                return str;
            }
            websocket.send(content);
            //清空input内容
            $('#content').val('');
        });
    });
    
</script>
</html>
<!--缺少字数限制-->